/* Change default colors */
[data-md-color-scheme="slate"] {
    --md-default-fg-color: hsla(var(--md-hue), 10%, 77.5%, 1);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 7%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 7%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 7%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 7%, 0.07);
}

/* Title */
.md-header__topic:first-child {
    font-family: var(--md-code-font-family);
}

/* Figure caption */
figcaption {
    font-size: 0.68rem;
}

/* Mermaid */
.mermaid {
    text-align: center;
}

/* Prevent selection of >>> prompts, ... continuation lines, and output */
.highlight .gp,
.highlight .go {
    user-select: none;
}
